extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css
      include ../static/styleAbout.css
block content
    div.container
        h1 About Me
        img(src="./static/me.png")
        h3 I am AMALA PETER
        p A Third year Undergraduate Student Pursuing Computer Science and Engineering from NSS COLLEGE OF ENGINEERING, AKATHETHARA,PALAKKAD.I was Born and raised in Ernakulam, a small district of Kerala.

        p Currently I am a Trainee at United Nations Organisation.Collaborating with Microsoft Team on Software Development of an ICT project for Cameroonian Refugees called e-School4Refugees, an online school initiative by TechCeFaCos Group(Civil Society-Non Profit Organisation, Nigeria).

        p I like to travel. I believe travelling gives you a new perspective to everything. You get to know a lot about the different cultures, the cuisines, their history, the language and all the small unique things every place has to offer.

        
