doctype html
html
head
    title AMALA PETER
block scripts
block style
body
  nav#navbar
        ul
            h2 WELCOME TO MY PORTFOLIO WEBSITE
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/Experiences") Experiences]
            li #[a(href="/Projects") Projects]
            li #[a(href="/TechnicalBackground") Technical Background]
            li #[a(href="/Resume") Resume]
            li #[a(href="/ContactMe") Contact Me]

block content

footer#footer
        |copywrite @ AMALA_PETER  | All rights reserved