extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css
      include ../static/styleExperiences.css
block content
    div.container
        h1 Experiences
        img(src="./static/un.jpg")
        h3 Trainee at UNITED NATIONS ORGANISATION
        p May 2020-present
        p Collaborated with Microsoft Team on Software Development of an ICT project for Cameroonian Refugees called e-School4Refugees, an online school initiative by TechCeFaCos Group(Civil Society-Non Profit Organisation, Nigeria).

        <p>To know more about my project <a href="/static/project.pdf">CLICK HERE</a>.</p>
 

    

        