extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css
      include ../static/styleProjects.css
block content
    div.container
        h1 Projects
        img(src="./static/panchayat.jpg")
        h3 KNOW YOUR PANCHAYAT
        p This is an Academic Project done by my Team, inorder to bring Transparency to the functioning of Governmental Organisations like Gram Panchayats.This Project is of developing an Android App and Website to the Panchayat.
        p Technologies Used:- Android Studio,Xml,Firebase,JavaScript.
        <p>Want to see my website?<a href="https://gram-panchayat.000webhostapp.com/2019/11/welcome-to-xyz-gram-panchayatpalakkad">CLICK HERE</a>.</p>
        h3 FULL STACK WEB DEVELOPMENT
        img(src="./static/full.jpg")
        p This is a full stack web development project using HTML,CSS,JavaScript,Node.Js,MongoDB.
        p <a href="https://github.com/AmalaPeter/GetFitGymWebsite">KNOW MORE</a>