extends base.pug
block style
    style
      include ../static/style.css
      include ../static/styleResume.css
block content
    div.container
        h1 Resume
        h3 You can visualise my Resume here<a href="\static\Amalapeter.pdf">VIEW</a>
        