extends base.pug
block style
    style
      include ../static/style.css
      include ../static/styleTechnicalBackground.css
block content
    div.container
        h1 Technical Background
        h3 Trainings
        p Undergone Project-Based Training Program on Building a Quadcopter with KK2 control board,electronic speed controllers and AC 3 phase motor. Project was completed and tested successfully with the guidance of Skyfi Labs. 
        p <a href="">CERTIFICATE OF COMPLETION</a>
        h3 Certifications
        <p>Google Analytics for Beginners by Google Analytics Academy <a href="\static\google.pdf">VIEW</a>.</p>
        <p>Udemy Certification on Basics of Cyber Security  <a href="\static\udemy.pdf">VIEW</a>.</p>
        <p>Internshala Trainings Certification on French Language Learning   <a href="\static\internshala.pdf">VIEW</a>.</p>
        <p>Accenture Certification on Digital Skills:Artificial Intelligence<a href="\static\accenture.pdf">VIEW</a>.</p>
        <p>Cognitive.ai(An IBM initiative) Certification on R essentials <a href="\static\ibm.pdf">VIEW</a>.</p>
        