@import url('https://fonts.googleapis.com/css?family=Yeon+Sung|ZCOOL+QingKe+HuangYou&display=swap');
.container{
height: 570px;
}
h1{
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou'; 
    margin:1px 0;
    color:white;
    font-size: 73px;
    background-color: #0ba4ec5c;
    box-shadow: inset 0px 20px 20px 6px #264c86;
    text-shadow: -5px 0px 0px black;
}
img{
    width: 15%;
    height: 35%;
    margin: 25px 42% 0px;
} 
h3{
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou'; 
    margin:23px 57px;
    color:black;
    font-size: 30px;
    
}
.container p{
    
   margin: 17px 57px 13px;
    padding: 0px;
    font-family: sans-serif;

}